#container{
  position: fixed; /* stays in place even on scroll or DOM changes */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* make sure it cover full width of the vp */
  height: 100vh; /* makes sure it covers full viewport height */
}

h1{
    text-align: center;
    padding-top: 40px;
}